.newpost-editor-container {
    padding : 15px 0;
}

.image-upload-container {
    display : flex;
    justify-content : space-between;
}

.modal-container {
    display : none;
    position : fixed;
    top : 40%;
    left : 50%;
    transform : translate(-50%, -50%);
    z-index : 100;
    box-shadow : 2px 2px 2px 2px $btn-background;
    .modal {
        padding : 20px;
        min-height : 200px;
        min-width : 300px;
        background : #fff;
        border : 1px solid #ddd;
        border-radius : 3px;

        .modal-content {
            display : flex;
            justify-content : center;
            align-items : center;
            margin : 25px 0;
        }
        .upload-btn {
            margin: 0 auto;
            &:disabled {
                cursor : not-allowed;
                pointer-events : all;
            }
        }
    }
}

.modal-container.active {
    display : block;
}

.label-text {
    padding-right : 10px;
}

.modal .error-msg {
    font-style : italic;
    color : red;

    i {
        margin-right : 5px;
    }
}

.modal .success-msg {
    display:flex;
    justify-content : space-between;
    align-items : center;
    input {
        width : 100%;
        outline : none;
        border : 1px solid #ddd;
        color : $btn-background;
        font-style : italic;
    }
    button {
        background : $btn-background;
        color : #fff;
        margin-left : -1px;
        cursor : pointer;
    }
    p{
        margin : 0;
    }
}
.modal-close-btn {
    margin-left : 15px;
}

.bg-success {
    background : $btn-background;
}

.progress-bar {
    border-radius : 2px;
    text-align : center;
    color : white;
}

.editor-button-container{
    display : flex;
    justify-content : flex-end;
    align-items : center;
}

blockquote {
    border-left: 4px solid #8cc34a;
    padding: 10px 20px;
    overflow: hidden;
    margin-bottom: 20px;
}