.site-navigation {
    height : 65px;
    width : 100%;
    background : #fff;
    display : flex;
    justify-content : space-between;
    color : $text-link;

    .menu-title {
        font-size : 22px;
        font-weight : 500;
        height : 100%;
        display : flex;
        align-items : center;
        margin-left : 30px;
    }

    .menu-content-container{
        display : flex;
        align-items : center;
        padding-right : 30px;

        .menu-avatar-container {
            display : flex;

            .ant-avatar {
                background : $background;
                border: 1px solid $border;
            }
    
            .menu-avatar-name {
                font-size : 18px;
                margin-left : 15px;
                margin : auto 10px;
            }
        }    
    }

    .ion-ios-menu {
        font-size : 36px;
        width : 50px;
        align-items : center;
        cursor : pointer;
        display : none;
    }

    ul {
        height : 100%;
        margin-block-start : 0;
        margin-block-end : 0;
        padding-inline-start : 0;
        display : flex;
        align-items : center;
        list-style-type : none;
        margin-right : 20px;

        a {
            text-decoration : none;
            padding : 0 20px;
            font-size : 18px;
            color : $text-color;

            &:hover {
                color : $text-link;
            }
        }
    }
}

@media screen and(max-width : 900px) {
    .site-navigation {
        .menu-content-container {
            display : flex;
            width : 300px;
            height : calc(100% - 65px);
            background : white;
            position : absolute;
            top : 50px;
            left : -300px;
            transition : 300ms ease left;
            flex-direction : column-reverse;
            padding : 0;
            padding-left : 30px;
            z-index : 100;

            a {
                width : 100%;
            }

            ul {
                flex-direction : column;
                justify-content : flex-start;
                padding : 0;
            }

            li {
                height : 50px;
                display : flex;
                align-items : center;
                .active{
                    color: rgb(235, 19, 19);
                }
            }
            ul,li, .menu-avatar-container {
                width : 100%;
            }
            .menu-avatar-container {
                margin : 15px 0;
            }
            &.active {
                left : 0px;
            }
        }

        .ion-ios-menu {
            display : flex;
        }
    }
}